body {
	background: none;
	font-family: 'Roboto Slab', serif;
}

.full {
  background: url('computer8.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#top-container {
		margin-top: 100px;
}

#cover-hi, #cover-hi:focus {
	color: white;
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 20px;
	margin-left: -30px;
	outline: 0;
}

#cover-hi:hover, #cover-hi:link, #cover-hi:active {
	text-decoration: none;
	color:#B0B0B0;
	outline: 0;
}

#cover-text span {
	font-size: 16px;
	color: #669999;
}

#title1 {
	margin-left: -30px;
}

.nav-link1:hover, .nav-link1:link, .nav-links:hover, .nav-links:link {
	color: #CCFFFF;
	text-decoration: none;
	outline: 0;
}

.cover-line {
	font-size: 20px;
	font-weight: 900;
	color: #707070;
}

.initiallyHidden {
	display: none;
}

#menu {
	margin-top: 10px;
	margin-left: 23px;
}

#menudown, #menuup {
	font-size: 40px;
	color: #888888;
}

#menudown:hover, #menuup:hover {
	color:white;
}


#hiddennav {
	background-color: #383838;
	padding-top: 5px;
	padding-bottom: 5px;
}

.nav-link1 {
	margin-left: 29px;
}

.nav-links {
	margin-left: 40px;
}

.nav-links, .nav-links:focus, .nav-link1, .nav-link1:focus {
	color: #66CCFF;
	font-size: 18px;
	outline:0;
}

.nav-icon, .nav-icon:focus {
	float: right;
	color: white;
	font-size: 22px;
	margin-top: -2px;
	margin-right: 16px;
	outline:0;
}

.connect-icons, .connect-icons:focus {
	font-size: 24px;
	color: #484848;
	margin-left: 22px;
	outline:0;
}

.connect-icons:hover {
	color:#909090;
}

.nav-icon:hover {
	color: #B0B0B0;
}

.modal-content p {
	margin-bottom: 25px;
	font-size: 16px;
}

#pdf-line {
	margin-top: -5px;
	margin-bottom: 15px;
}

.modal-title, .close {
	margin-top: -5px;
	margin-bottom: -5px;
}

#proj-first {
	margin-top: -5px;
}

.fa-circle {
	margin-left: 6px;
	margin-right: 6px;
	font-size: 10px;
	margin-bottom: 5px;
	color:#383838;
}

#email {
	margin-left: 22px;
}

#R {
	margin-right: 7px;
}

#connect {
	margin-top: 25px;
}
