<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
 <div class="nav">
  <ul>
    <li class="active"><a href="https://aabeveridge.github.io/index.html">home</a></li>
    <!-- <li class="nav-link"><a href="https://aabeveridge.github.io/projects.html">projects</a></li> -->
    <li class="nav-link"><a href="https://aabeveridge.github.io/cv.html">cv</a></li>

    <!-- #LinkedIn resume -->
    <!-- <li class="nav-link"><a href="https://github.com/aabeveridge"><i class="fab fa-github"></i></a></li> -->
    <!-- #GitHub coding resume -->
    <!-- <li class="nav-link"><a href="https://aabeveridge.github.io/cv.html">cv</a></li> -->
  </ul>
</div>
